{% extends 'base.html' %}
{% block main_content %}
<H1>Мониторы</H1>
{% if user.is_authenticated %}
    <div class="py-1">  Препод: {{ user.username }}. <a href="{% url 'prepods:logout' %}" class="link-secondary text-decoration-none"> Нажмите, чтобы выйти</a>.</div>
{% else %}
    <div class="text-secondary py-1"> Вы препод? <a href="{% url 'prepods:login' %}" class="link-secondary text-decoration-none">Войти</a> / <a href="{% url 'prepods:signup' %}" class="link-secondary text-decoration-none">Зарегистрироваться</a></div>
{% endif %}
{% if user.is_superuser %}
    <div class="text-secondary py-1"> Вы администратор! <a href="{% url 'prepods:admin' %}" class="link-secondary text-decoration-none"> Нажмите, чтобы войти в админку </a></div>
{% endif %}

{% if user.is_superuser %}
{% include '_monitor_list_admin.html' %}
{% else %}
{% include '_monitor_list_clear.html' %}
{% endif %}
{% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="{% url 'main:new_monitor' %}" role="button">Создать новый монитор</a>
{% endif %}

{% endblock %}