{% extends 'base.html' %}
{% block main_content %}

<H1>{% if monitor.is_hidden %}
    <span class="text-muted">{{ monitor.human_name }} (скрыт) </span>
    {% else %}
    {{ monitor.human_name }}
{% endif %}</H1>
<p><a href="{% url 'main:home' %}" class="link-secondary text-decoration-none"> &#8617; Вернуться к списку </a>
{% if user.is_authenticated %}
    <br><a href="{% url 'main:monitor_edit' monitor_id=monitor.pk %}" class="link-secondary text-decoration-none"> &#9874; Редактировать </a>
{% endif %}
</p>

{% if monitor.has_errors %}
    <span class="fw-bold">Монитор выгружен ошибками, обратитесь к преподавателю!</span>
{% elif monitor.contest_set.exists %}
    <div class="px-md-3 py-3" id="monitor_place">
        {% include '_monitor.html' %}
        <div class="py-3 text-center text-muted">
            <span class="display-6"> Генерируем монитор... </span>
            <span class="spinner-border" role="status"> </span>
        </div>
    </div>
    <script>
    function update_monitor() {
        let monitor_place = document.getElementById('monitor_place')

        let spinner = document.getElementById('loader')
        if (spinner != null) {
            spinner.setAttribute("class", "spinner-border spinner-border-sm")
        }
        console.log(spinner)

        let http = new XMLHttpRequest()
        http.open("GET", "{% url 'main:monitor_inside' monitor_id=monitor.pk %}", true);

        http.onreadystatechange = function() {
            if(http.readyState == XMLHttpRequest.DONE) {
                if (http.status == 200) {

                    let existingTooltips = [].slice.call(document.querySelectorAll('.tooltip'))
                    existingTooltips.forEach((x) => x.remove())
                    monitor_place.innerHTML = http.response
                    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                    tooltipTriggerList.map(function (tooltipTriggerEl) {
                      return new bootstrap.Tooltip(tooltipTriggerEl)
                    })
                }
                else {
                    monitor_place.innerHTML = '<div class="py-3 text-center"><span class="display-6"> Что-то пошло не так... &#128546; </span></div>'
                }
            }
        }
        http.send();
    }
    document.onvisibilitychange = () => {if (document.visibilityState === 'visible') update_monitor(); }
    setInterval(update_monitor, 120000)
    update_monitor()
    </script>
{% else %}
    <span class="fst-italic">Нужно добавить контесты!</span>
{% endif %}
{% endblock %}