{% extends 'base.html' %}
{% block main_content %}

<H1>{% if monitor.is_hidden %}
    <span class="text-muted">{{ monitor.human_name }} (скрыт) </span>
    {% else %}
    {{ monitor.human_name }}
{% endif %}</H1>
<p><a href="{% url 'main:home' %}" class="link-secondary text-decoration-none"> &#8617; Вернуться к списку </a>
{% if user.is_authenticated %}
    <br><a href="{% url 'main:monitor_edit' monitor_id=monitor.pk %}" class="link-secondary text-decoration-none"> &#9874; Редактировать </a>
{% endif %}
</p>

{% include '_last_update.html' with last_update=monitor.last_update %}

<div class="px-md-3 py-2">
<div class="table-responsive">
    <table class="table table-bordered table-sm">
        <tr>
            <th rowspan="2" class="align-middle text-center"> Участник </th>
            <th rowspan="2" class="align-middle text-center"> Итог </th>
            <th rowspan="2" class="align-middle text-center"> Дорешка </th>
            {% for contest in monitor.contest_set.all %}
            <th colspan="{{ contest.problem_set.all|length }}" class="text-center">
            <a href="{{ contest.get_cf_url }}" target="_blank" class="link-dark text-decoration-none"> {{ contest.human_name }} </a></th>
            {% endfor %}
        </tr>
        <tr>
            {% for contest in monitor.contest_set.all %}
                {% for problem in contest.problem_set.all %}
                <td class="text-center"><a href="{{ problem.get_cf_url }}" target="_blank" class="link-dark text-decoration-none"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ problem.name }}">{{ problem.index }}</a></td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% for personality, results in personalities %}
            {% if personality.is_ghost and not monitor.allow_ghosts or personality.is_blacklisted %}
            {% else %}
        <tr>
            <td class="text-center" style="white-space:nowrap"> {{ personality.get_name }} </td>
            <td class="text-center"> {{ personality.solved }} </td>
            <td class="text-center"> {{ personality.practiced }} </td>

            {% for result, link, is_contest in results %}
                {% if '+' in result %}
                <td class="text-center {% if is_contest %}table-success {% else %} table-info {% endif %}">
                <a href="{{ link }}" {% if link != '#' %}target="_blank"{% endif %} class="link-secondary text-decoration-none">
                {{ result }}</a>
                </td>
                {% else %}
                <td class="text-center text-dark"> <a href="{{ link }}" {% if link != '#' %}target="_blank"{% endif %} class="link-secondary text-decoration-none">{{ result }}</a> </td>
                {% endif %}
            {% endfor %}
        </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
</div>

    <script>
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
    </script>
{% endblock %}