{% extends 'base.html' %}
{% block main_content %}
<H1>Редактирование &laquo;{{ monitor.human_name }}&raquo; </H1>
<p>
    <a href="{% url 'main:monitor' monitor_id=monitor.pk %}" class="link-secondary text-decoration-none"> &#8617; Выйти из редактирования </a>
</p>
    <p>
<span class="fw-semibold">
Убедитесь, что пользователь <span class="font-monospace">cmw</span> является <span class="text-decoration-underline">менеджером соревнований</span> для всех контестов группы.</span>
Группа: <span class="font-monospace">{{ monitor.group }}</span>
</p>
    <p>
        {% if monitor.has_errors %}
            <span class="fst-italic fw-bold">Монитор выгружен ошибками</span>
        {% elif not monitor.contest_set.exists %}
            <span class="fst-italic">Нужно добавить контесты!</span>
        {% endif %}
    </p>


<div class="col-lg-8">
<div class="row">
<div class="col-md-6 col-lg-4">
<div class="card mb-4">
<div class="card-header">
&#128736; Настроки монитора
</div>
<div class="card-body">

<form method="post" class="row">

{% csrf_token %}
<input type="hidden" name="query_type" value="show">
<label class="col-sm-9" for="show_contest">Монитор публичный?</label>
<div class="col-sm-3"><input type="checkbox" onclick="this.form.requestSubmit()" id="show_contest" class="form-check-input"
       name="is_set" {% if not monitor.is_hidden %}checked{% endif %}></div>
</form>

<form method="post" class="row">
{% csrf_token %}
<input type="hidden" name="query_type" value="worker">
<label class="col-sm-9" for="enable_worker">Обновлять монитор?</label>
<div class="col-sm-3"><input type="checkbox" onclick="this.form.requestSubmit()" id="enable_worker" class="form-check-input"
       name="is_set" {% if not monitor.is_old %}checked{% endif %}></div>
</form>
</div>
</div>
</div>
</div>
</div>

{# CONTESTS! #}
<div class="col-lg-8">
<div class="row">

{% for contest in contests %}
<div class="col-md-6 col-lg-4">
{% include '_contest_card.html' with contest=contest w_status=w_status %}
</div>
{% endfor %}
    </div></div>

<script>
function update_cards(card_index) {
    let cards = document.getElementsByClassName("contest-card")
    let card = cards.item(card_index % cards.length)
    let http = new XMLHttpRequest()
    http.open("GET", "{% url 'main:card_inside' monitor_id=monitor.pk %}" + "?contest=" + card.getAttribute('data-cid'), true);

    http.onreadystatechange = function() {
        if(http.readyState == XMLHttpRequest.DONE) {
            if (http.status == 200) {
                card.innerHTML = http.response
            }
            setTimeout(update_cards, 200, card_index + 1)
        }
    }
    http.send();
}

update_cards(0)
</script>

<div class="accordion col-lg-8" id="contestsAdd">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingAdd">
      <button class="accordion-button {% if creation_form.errors %} bg-warning text-black {% else %} collapsed btn btn-primary {% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdd" aria-expanded="false" aria-controls="collapseAdd">
          Добавить контест
      </button>
    </h2>
    <div id="collapseAdd" class="accordion-collapse collapse{% if creation_form.errors %} show{% endif %}" aria-labelledby="headingAdd" data-bs-parent="#contestsAdd">
      <form class="accordion-body" method="post">
        {% csrf_token %}
        <input type="hidden" name="query_type" value="create">
        {% for f in creation_form %}
          <div class="row py-2">
              <label class="col-md-3 col-form-label" for="{{ f.id_for_label }}"> {{ f.label }}: </label>
              <div class="col-md-8">
                  {{ f }}
              </div>
          </div>
            <div class="text-danger">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-primary pt-2">Создать</button>
      </form>
    </div>
  </div>
</div>

<p></p>

<div class="accordion col-lg-8" id="participants">
<div class="accordion-item">
<h2 class="accordion-header" id="headingP">
  <button class="accordion-button collapsed btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP" aria-expanded="false" aria-controls="collapseP">
      Участники
  </button>
</h2>
<div id="collapseP" class="accordion-collapse collapse{% if creation_form.errors %} show{% endif %}" aria-labelledby="headingP" data-bs-parent="#participants">
  <div class="accordion-body table-responsive">

  <p>Участники и их посылки загружаются автоматически, после загрузки контестов</p>

      <form method="post">
    {% csrf_token %}
    <input type="hidden" name="query_type" value="update_pers">
      <table class="table table-bordered table-sm">
          <tr>
              <th class="align-middle text-center">Ник</th>
              <th class="align-middle text-center">Имя</th>
              <th class="align-middle text-center">В мониторе?</th>
          </tr>
          {% for pers in personals %}
          <tr>
          <td class="align-middle text-center">{{ pers.nickname }}</td>
          <td class="align-middle text-center">
                <input type="text" name="{{ pers.nickname }}_real_name" aria-label="Имя {{ pers.nickname }}" value="{{ pers.real_name }}" class="form-control">
          </td>
          <td class="align-middle text-center">
             <input type="checkbox" class="form-check-input"
             name="{{ pers.nickname }}_is_whitelisted" aria-label="is whitelisted?" {% if not pers.is_blacklisted %}checked{% endif %}>
          </td>
          </tr>
          {% endfor %}
      </table>
              <button type="submit" class="btn btn-outline-success">ОК</button>

      </form>

  </div>
</div>
</div>
</div>

<form method="post" class="py-3">
{% csrf_token %}
<input type="hidden" name="query_type" value="delete_monitor">
<button type="submit" class="btn btn-outline-danger" onclick="if (! confirm('Уверен?')) { return false; }">Удалить монитор</button>
</form>

{% endblock %}