{% extends 'base.html' %}
{% block main_content %}
<H1>Редактирование &laquo;{{ monitor.human_name }}&raquo; </H1>
<p>
    <a href="{% url 'main:monitor' monitor_id=monitor.pk %}" class="link-secondary text-decoration-none"> &#8617; Выйти из редактирования </a>
    <!--<br>
    <a href="{% url 'main:monitor_edit' monitor_id=monitor.pk %}" class="link-secondary text-decoration-none"> &#128260; Перезагрузить </a>-->
</p>
<p>Монитор создан для группы <span class="font-monospace">{{ monitor.group }}</span>.
    Убедитесь, что пользователь <span class="font-monospace">cmw</span> является менеджером соревнований для всех контестов.</p>

    <p>{% include '_last_update.html' with last_update=monitor.last_update %}</p>


<div class="col-lg-8">
<div class="row">
<div class="col-md-6 col-lg-4">
<div class="card mb-4">
<div class="card-header">
&#128736; Настроки монитора
</div>
<div class="card-body">

<form method="post" class="row">
{% csrf_token %}
<input type="hidden" name="query_type" value="show">
<label class="col-sm-9" for="show_contest">Монитор публичный?</label>
<div class="col-sm-3"><input type="checkbox" onclick="this.form.requestSubmit()" id="show_contest" class="form-check-input"
       name="is_set" {% if not monitor.is_hidden %}checked{% endif %}></div>
</form>

<form method="post" class="row">
{% csrf_token %}
<input type="hidden" name="query_type" value="worker">
<label class="col-sm-9" for="enable_worker">Обновлять монитор?</label>
<div class="col-sm-3"><input type="checkbox" onclick="this.form.requestSubmit()" id="enable_worker" class="form-check-input"
       name="is_set" {% if not monitor.is_old %}checked{% endif %}></div>
</form>
</div>
</div>
</div>
</div>
</div>

<div class="col-lg-8">
<div class="row">

{% for contest in contests %}
<div class="col-md-6 col-lg-4">
<div class="card mb-4">
<div class="card-header">
    <div class="row">
    <div class="col-10 text-truncate">{{ contest.get_name }}</div>
    <div class="col-2">
        <a href="#" class="text-decoration-none" onclick="let x = prompt('Введите новое название (оставьте поле пустым для отмены)'); if (x) { var http = new XMLHttpRequest(); http.open('GET', '{% url 'main:contest_rename' monitor_id=monitor.pk contest_id=contest.cf_contest %}'+'?name='+x, true); http.onload = function() { document.location.reload(); }; http.send(null); } else { return false; }">&#9999;</a>
    </div>
    </div>
</div>
<div class="card-body">
    <p class="card-text">
    {% include '_last_update.html' with last_update=contest.last_status_update %}</p>
    <div class="progress" style="height: 2px;">
      <div class="progress-bar bg-light" role="progressbar" style="width: 100%">
      </div>
    </div>
</div>
<div class="card-footer text-muted">
<div class="row">
    <div class="col-3 text-center">

        <a href="{% url 'main:contest_left' monitor_id=monitor.pk contest_id=contest.cf_contest %}" class="text-decoration-none">
            &#11013;</a>
    </div>
    <div class="col-3 text-center">
        <a href="{% url 'main:contest_refresh' monitor_id=monitor.pk contest_id=contest.cf_contest %}" class="text-decoration-none">&#128260;</a>
    </div>
    <div class="col-3 text-center">
        <a href="{% url 'main:contest_delete' monitor_id=monitor.pk contest_id=contest.cf_contest %}" onclick="if (! confirm('Уверен?')) { return false; }" class="text-decoration-none">&#128465;</a>
    </div>
    <div class="col-3 text-center">

        <a href="{% url 'main:contest_right' monitor_id=monitor.pk contest_id=contest.cf_contest %}" class="text-decoration-none">
            &#10145;</a>
    </div>

</div>
</div>

</div>
</div>
{% endfor %}
    </div></div>

{#<div class="accordion col-lg-8" id="contestsAcc">#}
{#{% for contest in contests %}#}
{#  <div class="accordion-item">#}
{#    <h2 class="accordion-header" id="heading{{ contest.cf_contest }}">#}
{#      <button class="accordion-button {% if contest.has_errors %} bg-warning text-black {% endif %} collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ contest.cf_contest }}" aria-expanded="false" aria-controls="collapse{{ contest.cf_contest }}">#}
{#          {{ contest.get_name }}#}
{#      </button>#}
{#    </h2>#}
{#    <div id="collapse{{ contest.cf_contest }}" class="accordion-collapse collapse" aria-labelledby="heading{{ contest.cf_contest }}" data-bs-parent="#contestsAcc">#}
{#      <div class="accordion-body">#}
{#        {% if contest.status == contest.FRESH %}#}
{#        <p class="fst-italic"> Задачи еще не загружены. Обновите страницу позже (это может занять много времени). </p>#}
{#        {% else %}#}
{#        {% include '_last_update.html' with last_update=contest.last_status_update %}#}
{#        {% endif %}#}
{##}
{#      {% if contest.last_comment %}#}
{#        <p class="text-danger">{{ contest.last_comment }}</p>#}
{#      {% endif %}#}
{#      {% if contest.problem_set.exists %}#}
{#      <p>Задачи:</p>#}
{##}
{#        <ul class="list-group">#}
{#            {% for problem in contest.problem_set.all %}#}
{#                <li class="list-group-item">{{ problem.index }}. {{ problem.name }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#      {% endif %}#}
{##}
{#      {% if contest.status != contest.FRESH %}#}
{#          <form method="post" class="pt-3">#}
{#            {% csrf_token %}#}
{#            <input type="hidden" name="query_type" value="refresh">#}
{#            <input type="hidden" name="cf_contest" value="{{ contest.cf_contest }}">#}
{#            <button type="submit" class="btn btn-outline-primary">Пересобрать</button>#}
{#        </form>#}
{#      {% endif %}#}
{#          <form method="post" class="py-1">#}
{#            {% csrf_token %}#}
{#            <input type="hidden" name="query_type" value="delete">#}
{#              <input type="hidden" name="cf_contest" value="{{ contest.cf_contest }}">#}
{#            <button type="submit" class="btn btn-outline-danger" onclick="if (! confirm('Уверен?')) { return false; }">Удалить</button>#}
{#        </form>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#{% endfor %}#}
{#</div>#}
{##}
{#<p></p>#}
{#    #}
<div class="accordion col-lg-8" id="contestsAdd">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingAdd">
      <button class="accordion-button {% if creation_form.errors %} bg-warning text-black {% else %} collapsed btn btn-primary {% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAdd" aria-expanded="false" aria-controls="collapseAdd">
          Добавить контест
      </button>
    </h2>
    <div id="collapseAdd" class="accordion-collapse collapse{% if creation_form.errors %} show{% endif %}" aria-labelledby="headingAdd" data-bs-parent="#contestsAdd">
      <form class="accordion-body" method="post">
        {% csrf_token %}
        <input type="hidden" name="query_type" value="create">
        {% for f in creation_form %}
          <div class="row py-2">
              <label class="col-md-3 col-form-label" for="{{ f.id_for_label }}"> {{ f.label }}: </label>
              <div class="col-md-8">
                  {{ f }}
              </div>
          </div>
            <div class="text-danger">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-primary pt-2">Создать</button>
      </form>
    </div>
  </div>
</div>

<p></p>

<div class="accordion col-lg-8" id="participants">
<div class="accordion-item">
<h2 class="accordion-header" id="headingP">
  <button class="accordion-button collapsed btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseP" aria-expanded="false" aria-controls="collapseP">
      Участники
  </button>
</h2>
<div id="collapseP" class="accordion-collapse collapse{% if creation_form.errors %} show{% endif %}" aria-labelledby="headingP" data-bs-parent="#participants">
  <div class="accordion-body table-responsive">

  <p>Участники и их посылки загружаются автоматически, после загрузки контестов</p>

      <form method="post">
    {% csrf_token %}
    <input type="hidden" name="query_type" value="update_pers">
      <table class="table table-bordered table-sm">
          <tr>
              <th class="align-middle text-center">Ник</th>
              <th class="align-middle text-center">Имя</th>
              <th class="align-middle text-center">&#128683;</th>
          </tr>
          {% for pers in personals %}
          <tr>
          <td class="align-middle text-center">{{ pers.nickname }}</td>
          <td class="align-middle text-center">
                <input type="text" name="{{ pers.nickname }}_real_name" aria-label="Имя {{ pers.nickname }}" value="{{ pers.real_name }}" class="form-control">
          </td>
          <td class="align-middle text-center">
             <input type="checkbox" class="form-check-input"
             name="{{ pers.nickname }}_is_blacklisted" aria-label="is blacklisted?" {% if pers.is_blacklisted %}checked{% endif %}>
          </td>
          </tr>
          {% endfor %}
      </table>
              <button type="submit" class="btn btn-outline-success">ОК</button>

      </form>

  </div>
</div>
</div>
</div>

<form method="post" class="py-3">
{% csrf_token %}
<input type="hidden" name="query_type" value="delete_monitor">
<button type="submit" class="btn btn-outline-danger" onclick="if (! confirm('Уверен?')) { return false; }">Удалить монитор</button>
</form>

{% endblock %}